<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{${MOCK_PGS_URL}+'/static/webjars/bootstrap/4.2.1/css/bootstrap.min.css'}"/>
</head>

<body>
<div>
    <div class="row">
        <div class="col">
            <img th:src="@{${MOCK_PGS_URL}+'/static/img/3ds.png'}" class="rounded float-left img-thumbnail" width="15%"/>
        </div>
    </div>
    <div class="row mb-3">
        </div><h1>Challenge</h1>
    </div>
    <div class="row">
        <div class="col">
            <form id="formChallenge" th:action="${notifyUrl}" method="POST">

                <div class="form-inline">
                    <h5>notifyUrl <span class="badge badge-dark"  th:text="${notifyUrl}"></span>
                    </h5>
                </div>
                <div class="form-inline">
                    <h5>threeDSServerTransID <span class="badge badge-dark"  id="threeDSServerTransID" th:text="${threeDSServerTransID}"></span>
                    </h5>
                </div>
                <div class="form-inline">
                    <h5>threeDSMtdComplInd <span class="badge badge-dark"  id="threeDSMtdComplInd" th:text="${threeDSMtdComplInd}"></span>
                    </h5>
                </div>
                <input name="cres" th:value="${cres}" hidden="hidden">
                <input class="btn btn-primary" type="submit" value="Send"/>
            </form>
        </div>
    </div>
</div>
<div th:replace="vpos/footer:: footer"></div>
<script type="text/javascript" th:src="@{${MOCK_PGS_URL}+'/static/webjars/jquery/3.4.1/jquery.min.js'}"></script>
<script type="text/javascript" th:src="@{${MOCK_PGS_URL}+'/static/webjars/bootstrap/4.2.1/js/bootstrap.min.js'}"></script>
</body>
</html>